{% extends 'base.html' %}

{% block content %}

<br>
<form id="stu_form" action="">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" name="student_name" id="student_name" aria-describedby="emailHelp" placeholder="Enter Name" value="abc">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Enrollment</label>
      <input type="text" class="form-control" id="student_enroll" value="">
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <script>
    function handleSubmit(event){
      event.preventDefault()
    }
    const onSubmit = (e)=>{
      name = document.getElementById('stu_form').elements[0].value
      e.preventDefault()
      console.log(name)
      }
    const stuForm = document.getElementById('stu_form')
    stuForm.addEventListener('submit', onSubmit)
    
      
  </script>
  {% endblock %}