{% extends 'base.html' %}

{% block content %}
<hr>
<table class="table table-hover">
    <thead class="bg-success text-white">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Project Name</th>
        <th scope="col">Language</th>
        <th scope="col">Section</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for student in students %}
      <tr>
        <th scope="row">{{student.index}}</th>
        <td>{{student.student.name}}</td>
        <td>{{student.project.name}}</td>
        <td>{{student.project.language}}</td>
        <td>{{student.student.section}}</td>
        <td><a class="btn btn-sm btn-info" href="/student/{{student.student.id}}">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  
  </table>

{% endblock  %}