{% extends 'base.html' %}
{% load static %}
{% block content %}
<hr>
<div class="containers">
<table class=" table table-hover">
    <thead class="bg-success text-white text-center">  
      <tr>
       <th colspan ="4" mx-center><h2>{{student.student.name}}</h2><span class="d-flex flex-row-reverse">
          <span class="p-1">
            <button type="button" class="btn btn-sm btn-outline-light" data-toggle="modal" data-target="#exampleModal">
              <i class="fas fa-user-edit"></i>
            </button>
          </span>
          <span class="p-1">
            <button type="button" id="del-btn" class="btn btn-sm btn-outline-light"  data-toggle="modal" data-target="#exampleModal2">
              <i class="fas fa-trash-alt" ></i>
            </button>
          </span>
        </span></th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Enrollment Number</td>
        <td>-</td>
        <td>{{student.student.enroll}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Branch</td>
        <td>-</td>
        <td>{{student.student.branch}}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Section</td>
        <td>-</td>
        <td>{{student.student.section}}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Project</td>
        <td>-</td>
        <td>{{student.project.name}}</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Language</td>
        <td>-</td>
        <td>{{student.project.language}}</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Category</td>
        <td>-</td>
        <td>{{student.project.category}}</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Project Description</td>
        <td>-</td>
        <td>{{student.project.description}}</td>
      </tr>
      
      
    </tbody>
  </table>
</div>



  <!-- Modal Edit Student-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="exampleModalLabel">Edit <strong>{{student.student.name}}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class='form form-group ' id='stu-edit-form' method='POST' action='/edit-student'>
        <div class="modal-body">
          <div class='row mb-3 mt-3'>
            <div class='col-md-10 mx-auto col-10  border'>
                
                    {% csrf_token %}
                    
                    <div class='d-none alert alert-danger' id='stu-create-form-error'></div>
                    <input type="hidden" name="stu_id" value={{student.student.id}}>
                    <input type="hidden" name="proj_id" value={{student.project.id}}>
                    <br>
                    <div class="form-group row">
                      <label for="studentName" class="col-sm-2 col-form-label">Name:</label>
                      <div class="col-sm-10">
                      <input type="text" required="required" class='form-control text' rows='3' name='name' value="{{student.student.name}}"  />
                      </div>
                    </div>
                
                    <div class="form-group row">
                      <label for="studentEnroll" class="col-sm-2 col-form-label">Enrollment:</label>
                      <div class="col-sm-10">
                    <input type="text" required="required" class='form-control text' rows='3' name='enroll' value={{student.student.enroll}} />
                   </div>
                  </div>
  
                  <div class="form-group row">
                    <label for="studentBranch" class="col-sm-2 col-form-label">Branch:</label>
                    <div class="col-sm-10">
                      <select class="custom-select mr-sm-2" name="branch" id="branch">
                        <option value= {{student.student.branch}} selected>{{student.student.branch}}</option>
                        {% with 'EC CS IT EE' as list %}
                        {% for branch in list.split %}
                          {% if branch != student.student.branch %}

                          <option value={{branch}}>{{branch}}</option>
                          {% endif %}
                        {% endfor %}
                        {% endwith %}
                      </select>
                    <!-- <input type="text" required="required" class='form-control text' rows='3' name='branch' placeholder='Enter Branch...'/> -->
                    </div>
                  </div>
  
                  <div class="form-group row">
                      <label for="studentSection" class="col-sm-2 col-form-label">Section:</label>
                      <div class="col-sm-10">
                        <select class="custom-select mr-sm-2" name="section" id="section">
                          <option value={{student.student.section}} selected>{{student.student.section}}</option>
                          {% with 'A B C D E' as list %}
                          {% for section in list.split %}
                            {% if section != student.student.section %}
                              <option value={{section}}>{{section}}</option>
                            {% endif %}
                          {% endfor %}
                          {% endwith %}
                        </select>
                    <!-- <input type="text" required="required" class='form-control text' rows='5' name='section' placeholder='Enter Section...'/> -->
                    </div>
                  </div>
  
                  <div class="form-group row">
                      <label for="studentProject" class="col-sm-2 col-form-label">Project:</label>
                      <div class="col-sm-10">
                    <input type="text" required="required" class='form-control text' rows='5' name='project' value="{{student.project.name}}" />
                   </div>
                  </div>
  
                  <div class="form-group row">
                    <label for="projectLang" class="col-sm-2 col-form-label">Language:</label>
                    <div class="col-sm-10">
                      <select class="custom-select mr-sm-2" name="language" id="language">
                        <option value={{student.project.language}} selected>{{student.project.language}}</option>
                        {% with 'C C++ Python Java' as list %}
                        {% for language in list.split %}
                          {% if language != student.project.language %}
                            <option value={{language}}>{{language}}</option>
                          {% endif %}
                        {% endfor %}
                        {% endwith %}
                      </select>
                    <!-- <input type="text" required="required" class='form-control text' rows='5' name='language' placeholder='Enter Project Language...'/> -->
                    </div>
                  </div>
  
                  <div class="form-group row">
                      <label for="projectCategory" class="col-sm-2 col-form-label">Category:</label>
                      <div class="col-sm-10">
                        <select class="custom-select mr-sm-2" name="category" id="category">
                          <option value={{student.project.category}} selected>{{student.project.category}}</option>
                          {% with 'Console-Application Web-Application Desktop-Appliction' as list %}
                          {% for category in list.split %}
                            {% if category != student.project.category %}
                              <option value={{category}}>{{category}}</option>
                            {% endif %}
                          {% endfor %}
                          {% endwith %}
                        </select>
                    <!-- <input type="text" required="required" class='form-control text' rows='5' name='category' placeholder='Enter Project Category...'/> -->
                    </div>
                  </div>
  
                  <div class="form-group row">
                      <label for="projectDescription" class="col-sm-2 col-form-label">Description:</label>
                      <div class="col-sm-10">
                    <input type="text" class='form-control text' rows='5' name='description' value="{{student.project.description}}"  />
                    </div>
                  </div>
                    <div class="msg text-success bg-light"></div>
               
            </div> 
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
      
    </div>
  </div>
</div>


 <!-- Modal2 Delete Student-->
 <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header  bg-danger text-white">
        <h5 class="modal-title" id="exampleModalLabel2">Delete Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action='/delete-student' id='stu-delete-form' method='POST'>
        <div class="modal-body">
        
            {% csrf_token %}
            <input type="hidden" name="id" value={{student.student.id}}>
          Are you sure you want to remove <strong>{{student.student.name}}</strong>?
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
      
    </div>
  </div>
</div>





<script src="../static/js/stu.js">

</script>


{% endblock  %}